

.archive{
    background-color: #1c1c1c;
    .container{
      .blue{
        display: inline-block;
        text-transform: uppercase;
        color: white;
        background-color: $primary-color-light;
      }
      .label{
        position: relative;
        transform: translate(0,-50%);
        padding: 15px 30px;          
      }
      &.center{
        @include center();
        button.btn{
          margin: 20px;
          padding: 15px 60px;
          border: 0;
        }
      }
      .sub-container{
        @include wrap();
        width:100%;
      }
    }

  }

  .jumbo{
    max-height: 400px;
    overflow: hidden;
    img{
      width: 100%;
    }
  }